body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    background-image: url('../images/khneu_bg.jpg');
    background-size: cover; /* Растянуть изображение на всю доступную область */
    background-position: center; /* Центрировать изображение */
    /* Дополнительные свойства, если нужны */
    /* background-repeat: no-repeat; // Не повторять изображение */
    background-attachment: fixed; /* Фиксировать изображение при прокрутке */
}

.container {
    width: 70%; /* Ширина контейнера */
    max-width: max-content; /* Максимальная ширина контейнера */
    min-width: min-content;
    margin: 36px auto; /* Центрирование контейнера по горизонтали */
    padding: 12px 48px 48px;
    box-sizing: border-box; /* Позволяет учитывать padding и border в общей ширине элемента */
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    text-align: center;
    align-content: center;
}

.container div {
    margin-bottom: 20px; /* Добавляем отступ между блоками с полями */
    text-align: left; /* Выравниваем текст внутри блоков слева */
}
.container label {
    display: block; /* Превращаем каждый label в блочный элемент, чтобы они занимали всю ширину родительского div */
}

h1 {
    white-space: nowrap;
}

.logo {
    position: absolute;
    top: 10px; /* Регулируйте положение логотипа по вертикали */
    right: 10px; /* Регулируйте положение логотипа по горизонтали */
    width: 200px; /* Укажите ширину логотипа */
    height: auto; /* Для сохранения пропорций */
}

.btn {
    height: 24px;
    white-space: nowrap;
    display: inline-block;
    color: #eee;
    background: #088;
    text-decoration:none;
    text-align:center;
    margin:20px auto;
    padding:10px 10px;
    transition:all 0.1s;
}

.btn:hover {
    background: #c1ebff;
    color: #088;
    box-shadow: 0 -5px 0 #088 inset;
}

.table_buttons {
    text-align: left;
}

.table {
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}

.table td:last-child(2) {
    width: 50px;
}

.table th {
    background: #c8c8c8;
    color: #1e1e1e;
    padding: 10px 20px;
}

.table th, .table td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    width: min-content;
}

.table th:first-child, td:first-child {
    text-align: left;
}

.table th:first-child {
    border-top-left-radius: 10px;
}

.table th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

.table td {
    padding: 8px 12px;
    background: #c1ebff;
    /*background: #F8E391;*/
}

.table tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.table tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

.table tr td:last-child {
    border-right: none;
}

form input {
    width: 100%;
    padding: 12px 12px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: 0.5s;
    font-size: 16px;
}

form input[type="text"]:focus {
    border: 3px solid #555;
}

form button[type="submit"] {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    width: 100%;
    height: 48px;
    white-space: nowrap;
    display: inline-block;
    color: #eee;
    background: #088;
    border: none;
    text-decoration:none;
    text-align:center;
    margin:20px auto;
    padding:10px 10px;
    cursor: pointer;
    transition:all 0.1s;
    font-size: 16px;
}

form button[type="submit"]:hover {
    background: #c1ebff;
    color: #088;
    box-shadow: 0 -5px 0 #088 inset;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;

}

.required-label::after {
    content: '*';
    color: red;
}

/* Базовий стиль для посилань */
a {
    color: #007bff; /* колір тексту */
    text-decoration: none; /* видалити підкреслення */
    transition: color 0.3s ease; /* зміна кольору з плавною анімацією */
}

/* Стиль для посилань при наведенні курсора */
a:hover {
    color: #0056b3; /* новий колір тексту */
}